{% extends 'base.html' %}
{% load static %}
{% block body%}
    <section class="mx-auto container col-md-12">
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <img width="1000px"  height="650px" src="../static/img/carrusel/C01.png" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
              <img width="1000px" height="650px" src="../static/img/carrusel/C02.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img width="1000px" height="650px" src="../static/img/carrusel/C03.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img width="1000px" height="650px" src="../static/img/carrusel/C04.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
        

        <div class="d-flex justify-content-center bg-dark" style="color: white;">
          <h2 >Nuevos</h2>
        </div>

        <div class="d-flex justify-content-center bg-light">
         <div class="container">   
            <div class="row">
              {% for Producto in productos %}
              <div class="col-3">
                <div class="card" style="width: 18rem; display:inline-flex;">
                 <a href="#">
                 <img src="../static/img/gpu amd 6800xt.jpg" height="200px" class="card-img-top">
                 </a>
                 <div class="card-body">
                    <p class="card-text">{{Producto.Nombre}}</p>
                    <p class="card-text">{{Producto.Stock}}</p>
                 </div>
            
               </div> 
              </div>
                {% endfor %}
              </div>
          </div>
        </div>
        
  </section>
{% endblock %}
