{% extends 'base.html' %}
{% load static %}

{% block body%}
<div class="container bg-light col-md-10" style="padding: 2%;"> 
    
    <h2 class="justify-content-between">Productos 
    <a href="{% url 'FormAddProd' %}">
        <img src="../static/img/interface/add.ico" alt="Añadir productos" style="margin-bottom: 2%;margin-top: 2%; max-width: 40px;">
    </a></h2> 
    <div class="row">
        
        <div class="col-md-12 container justify-content-center">
              <table class="table" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Componente</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for Producto in productos %}
                    <th scope="row">{{Producto.ID}}</th>
                    <td>{{Producto.Nombre}}</td>
                    <td>{{Producto.Fabricante}}</td>
                    <td>{{Producto.Componente}}</td>
                    <td>$ {{Producto.Precio}}</td>
                    <td>{{Producto.Stock}}</td>
                    <td>
                      
                        <a href="{% url 'FormModProd' Producto.ID  %}">
                            <button type="button" class="btn btn-success ml-3 " >Editar</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-warning ml-3 " data-bs-toggle="modal" data-bs-target="#exampleModal">Imagen</button>
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                {%for Producto in productos%}
                                {%if Producto.ID == producto.ID%}
                                <img src="/static/media/{{Producto.Imagen}}" height="400px">
                                {%else%}
                                <img src="/static/media/{{Producto.Imagen}}" height="400px">
                                {%endif%}
                                {%endfor%}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="{% url 'Del' Producto.ID  %}">
                            <button type="button" class="btn btn-danger ml-3 ">Eliminar</button>
                        </a>
                    </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
        
    </div>
</div>

{% endblock%}
{%block js%}

{%endblock%}