{% extends 'base.html' %}
{% load static %}

{% block body%}
<div class="container bg-light col-md-10" style="padding: 2%;"> 
    
    <h2 class="justify-content-between">Productos 
    <a href="{% url 'FormAddProd' %}">
        <img src="../static/img/interface/add.ico" alt="Añadir productos" style="margin-bottom: 2%;margin-top: 2%; max-width: 40px;">
    </a></h2> 
    <div class="row">
        {% for Producto in productos %}
        <div class="col-md-12 container justify-content-center">
              <table class="table" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Componente</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{Producto.ID}}</th>
                    <td>{{Producto.Nombre}}</td>
                    <td>{{Producto.Fabricante}}</td>
                    <td>{{Producto.Componente}}</td>
                    <td>$ {{Producto.Precio}}</td>
                    <td>{{Producto.Stock}}</td>
                    <td>
                        <a href="{% url 'FormAddProd' %}">
                            <button type="button" class="btn btn-success ml-3 " style="margin-right: 1%;">Editar</button>
                        </a>
                        <a href="{% url 'FormAddProd' %}">
                            <button type="button" class="btn btn-warning ml-3 ">Imagen</button>
                        </a>
                        <a href="{% url 'FormAddProd' %}">
                            <button type="button" class="btn btn-danger ml-3 ">Eliminar</button>
                        </a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock%}