{% extends 'base.html' %}
{% load static %}

{% block body%}

  <section class="mx-auto container col-md-10 bg-light " >
      <div class="row">
          <form action="{% url 'In' %}" method="POST" class="container  col-md-5 justify-content-center mt-5 " style="margin-bottom: 20%;background-color:whitesmoke;padding: 5%; "  > 
            {% csrf_token %}
            
            <img class="rounded mx-auto d-block" style="margin-top: 5% ; margin-bottom: 5%;" src="../static/img/interface/user-signin.png" alt="" width="100px">

            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario: </label>
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese usuario">
              </div>

              <div class="mb-3">
                <label for="clave" class="form-label">Clave: </label>
                <input type="password" class="form-control" id="clave" name="clave" placeholder="Ingrese clave">
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-success" style="width: 100%;">Iniciar sesión</button>
              </div>
              <div class="mb-3" style="margin-top:30% ;"> 
                <a href="{% url 'SignUp' %}" style="padding: 10%;">¿Aún no tienes una cuenta? ¡Registrate aquí!</a>
              </div>
          </form>
         
      </div>
    </section>
{% endblock%}