{% extends 'base.html' %}
{% load static %}

{% block body%}
<section class="mx-auto container col-md-10 bg-light " >
      <div class="row">
          <form action="{% url 'CreateUser' %}" method="POST" class="container  col-md-5 justify-content-center mt-5 " style="margin-bottom: 20%;background-color:whitesmoke;padding: 5%; "   > 
            {% csrf_token %}
            <img class="rounded mx-auto d-block" src="../static/img/user-login.png" alt="" width="100px">

            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario: </label>
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese usuario">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese email">
              </div>

              <div class="mb-3">
                <label for="clave" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="clave" name="clave" placeholder="Ingrese clave">
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-success" style="width: 100%;">Registrarse</button>
                
              </div>
              <div class="mb-3" style="margin-top:30% ;">
                <a href="{% url 'SignUp' %}" style="padding: 2%;">¿Ya tienes una cuenta? ¡Haz click aquí para iniciar sesión!</a>
              </div>
          </form>
      </div>
</section>

{% endblock%}